#tab_container {
    width: 615px;
    background-color: white;
    height:34px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #BDBDBD;
}

.tab {
    position: relative;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    border-left-style: solid;
    border-left-width: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-color: #BDBDBD;
    height: 34px;
    text-align: center;
    background-color: white;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
}

.tab_spacer {
    position: relative;
    padding-left: 1px;
    float: left;
    border-style: solid;
    border-color: white;
}

.tab_back {
    background-color: #DEDEDE;
    border-color: #DEDEDE;
}

.tab_wide {
    width: 160px;
}

.tab_name {
    position:relative;
    top: 7px;
    font-family: "Trebuchet MS";
    font-style: italic;
    font-size: 17px;
}

.imageContainerCement {
    border-radius: 12px;
    height: 113px;
    width: 150px;
    margin-bottom: 6px;
    float: left;
    margin-right: 10px;
    font-style: italic;
    font-size: 16px;
}

.photoView {
    position: fixed;
    height: 375px;
    display: none;
    top: 0;
    bottom: 0;
    z-index: 300;
    margin: auto;
    left: 0;
    right: 0;
    width: 500px;
    box-shadow: 3px 3px 5px 6px #aeaeae;
    -moz-box-shadow: 3px 3px 5px 6px #aeaeae;
    -webkit-box-shadow: 3px 3px 5px 6px #aeaeae;
    border-radius: 12px;
}

.closePhotoView {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    cursor: pointer;
    color: #ae0000;
    font-family: sans-serif;
    border-style: outset;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-user-select: none;
    -ms-user-select: none;
}
.greenDiv { padding: 12px 0 12px 0; }
.greenPrehead { padding-bottom: 11px; }
.imageContainer { border-radius: 12px; height:375px; width:500px; margin-bottom: 6px; }
.imageVertContainer { border-radius: 12px; height:500px; width:375px; margin-bottom: 6px; }