.sale {    font-family: "Franklin Gothic Medium", "Trebuchet MS"; }
.salePix { padding-bottom: 25px; }
.bold { font-weight: bold; }
#worm_description { display: none; }
#support_container { float: left; }
.quarterSpace { width: 25%; float: left; }
.fshrink { font-size: 15px; }

.saleTitle {
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: #000;
    color: #fff;
    margin-bottom: 7px;
}

.saleTriangle {
    width: 0; 
    height: 0; 
    border-bottom: 8px solid transparent;  /* left arrow slant */
    border-top: 8px solid transparent; /* right arrow slant */
    border-left: 12px solid #fff; /* bottom, add background color here */
    font-size: 0;
    line-height: 0;
    margin-left: 8px;
    margin-right: 12px;
    position: relative;
    top: -8px;
    cursor: pointer;
}

.saleTriangleDown {
	width: 0; 
	height: 0; 
	border-top: 12px solid #fff;  /* left arrow slant */
	border-right: 8px solid transparent; /* right arrow slant */
	border-left: 8px solid transparent; /* bottom, add background color here */
	font-size: 0;
	line-height: 0;
        margin-left: 6px;
        margin-right: 10px;
        position: relative;
        top: -2px;
        cursor: pointer;
}

.saleDescription {
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 12px;
}

.saleDivider {
    border-bottom-width: 2px;
    border-bottom-style: groove;
    border-color: black;
    padding-top: 12px;
    padding-bottom: 12px;
}

#galant { height:220px; }
#litter-pix,#covers-pix { display: none; }

.clickToSee {
    font-style: italic;
    color: #0000ff;
    cursor: pointer;
}

.bin {
    background-color: #dedede;
    border-color: #bfbfbf;
    border-radius: 19px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 2px 2px 4px -2px #5c5c5c;
    padding: 6px;
    font-size: 14px;
    font-style: italic;
    cursor: pointer;
}