.prominent {  font-size: 13pt}
.italic {  font-family: "Franklin Gothic Medium", "Trebuchet MS"; font-size: 13pt; font-style: italic; font-weight: bold}
.italicHeader {  font-family: "Franklin Gothic Medium", "Trebuchet MS"; font-size: 14pt; font-style: italic; font-weight: bold; color: #000088}
p {  font-family: "Franklin Gothic Medium", "Trebuchet MS"; font-size: 13pt}
.sidebar {  font-family: "Courier New", Courier, mono; font-size: 10pt; font-style: normal}
.footer {  font-family: "Franklin Gothic Medium", "Trebuchet MS"; font-size: small}
h3, .subSection {  
    font-family: "Franklin Gothic Medium", "Trebuchet MS";
    text-transform: uppercase; 
    color: #333300;
    font-style: oblique;
    font-weight: bolder;
    text-align: left;
    vertical-align: baseline
}
h3 {    font-size: 19pt; }
.subSection {    font-size: 17pt; position: relative; padding-bottom: 17px;}

dt {  font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-style: normal; font-weight: bolder; color: #003333}
.pic_caption {  font-family: Arial, Helvetica, sans-serif; font-size: 11pt; font-style: italic}
dl, .prehead {  font-family: "Franklin Gothic Medium", "Trebuchet MS"; font-size: 13pt}
.folder {  font-family: "Franklin Gothic Medium", "Trebuchet MS"; font-size: 13pt; list-style-position: inside; }
#nonMenu { width:500px; margin-left:12px; }
caption {  font-family: Arial, Helvetica, sans-serif; font-size: 11pt; font-style: italic}
.banner { background-color: burlywood; font-family: "Franklin Gothic Medium", "Trebuchet MS"; font-size: 18px;}
.bannerHead { font-family: "Franklin Gothic Medium", "Trebuchet MS"; font-size: 24px; font-weight: bold; }
#rich,#judy { text-align: center; width:150px; padding-bottom: 7px; font-family: "Franklin Gothic Medium", "Trebuchet MS"; font-weight: bold; font-style: italic; position: relative; float: left; }
#rich { float: right; right:125px;}
#judy { float: left;  left: 100px;}

.headerImage {
    width: 600px;
    height: 398px;
    border-radius: 9px;
    position: relative;
    top: -30px;
}

#garden_header_image {
    background-image: url('images/GardenGate.jpg');
}

#headshot_judy { border-radius: 9px; height:200px; background-image: url('images/judy_hmm.jpg');}
#headshot_rich { border-radius: 9px; height:200px; background-image: url('images/rich_hmn.jpg');}
#rich_judy { position: relative; width:602px; text-align: center; float: left; font-family: "Franklin Gothic Medium", "Trebuchet MS"; font-weight: bold; font-style: italic; }
.handyHeader { font-size: 17px; }
.handyBullets { font-size: 14px; }
.services { margin:5px 12px; padding:5px 12px; }
.services li { width:550px; }
#how_green { 
    line-height: 58px;
    background-color: lawngreen;
    color: #FFF;
    padding: 8px;
    border-style: double;
    border-width: 7px;
    border-color: #ffff00;
    font-family: Arial;
    font-style: italic;
    font-variant: small-caps;
    font-weight: bold;
}